In [1]:
import pandas as pd

In [2]:
df1= pd.DataFrame(pd.read_csv("data/gemstone.csv"))

In [4]:
df1.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [5]:
df1.drop(columns=['id'],inplace=True)

In [6]:
x = df1.drop(columns=['price'],axis=1)
y = df1["price"]

In [9]:
numerical_columns = x.select_dtypes(exclude= 'object').columns
categorical_columns = x.select_dtypes(include= 'object').columns

In [11]:
pd.DataFrame(categorical_columns)

         0
0      cut
1    color
2  clarity

In [15]:
df1["clarity"].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [17]:
cut_categories=['Fair','Good', 'Very Good','Premium', 'Ideal']
color_categories = ['D','E','F','G','H','I','J'] #opp
calirty_categories = ['I1','SI2','SI1','VS2','VS1','VVS2', 'VVS1','IF' ]

In [16]:
from sklearn.impute import SimpleImputer #missing values
from sklearn.preprocessing import StandardScaler #Feature Scaling(numerical datatype)
from sklearn.preprocessing import OrdinalEncoder # to rank the categorical variables
#pipeline
from sklearn.pipeline import Pipeline # to club everything together
from sklearn.compose import ColumnTransformer # Begin the work

In [19]:
num_pipeline = Pipeline(
    steps= [
        ("imputer", SimpleImputer(strategy="median")), #even if no missing values in training data but in future there can be
        ("scaler", StandardScaler())

    ]
)

cat_pipeline = Pipeline(
    steps= [
        ("imputer", SimpleImputer(strategy="most_frequent")), #even if no missing values in training data but in future there can be
        ("OrdinalEncoder", OrdinalEncoder(categories=[cut_categories,color_categories,calirty_categories])),
        ("scaler", StandardScaler()) #can keep it or not depends on you
    ]
)

# change the rows mentioned in numerical_colums with the instuction in num_pipline
preprocessor = ColumnTransformer(
    [
        ('num_pipeline',num_pipeline, numerical_columns),
        ('cat_pipeline',cat_pipeline, categorical_columns)
    ]
)